  body{
            margin: 0;
            padding: 0;
            background-color: beige;
        }
        
        #topNavBar ul{
            list-style-type: none;
            padding: 0 15%;
            margin: 0;
            background-color: black;
            overflow: hidden;
            
            
           
            
        }
        
        
        #topNavBar a{
            text-decoration: none;
            color: white;
             padding: 16px;
            display: block;
            
        }
        
        #topNavBar li{
            float: left;
            background-color: black;
        
           
            
        }
        
        #topNavBar li:hover{
        background-color: red;
        }