.topNavBar{
    overflow: hidden;
    background-color: black;
    padding: 0 5%;
}
a{
    padding: 10px;
    display: block;
    float: left;
    background-color: black;
    color: white;
    text-decoration: none;
    
}
canvas{
    border: 12px solid darkGreen;
    margin: 30px;
}